<div class="row" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-dismissible bg-info text-center ">
            <strong class="text-light">Cargando</strong>
            <br>
            <i class="fas fa-refresh fa-spin fa-2x" aria-hidden="true"></i>
            <br>
            <span class="text-light">Espere por favor</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-header border-0 pt-5">

                <!--begin::Heading-->
                <div class="mb-1 text-center">
                    <!--begin::Title-->
                    <h1 class="mb-1">Entrena a tu ritmo por área del saber</h1>
                    <h2 class="mb-1 text-danger fs-2 fw-bold"
                        *ngIf="materia !='' ">Entrenando: {{ materia }}</h2>
                    <!--end::Title-->
                </div>
                <!--end::Heading-->

                <div class="card-toolbar">
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end"
                        data-kt-user-table-toolbar="base">
                        <!--begin::Add user-->
                        <a [routerLink]="['/dashboard']"
                            class="btn btn-danger me-2">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                            <i class="ki-duotone ki-arrow-left">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                            <!--end::Svg Icon-->
                            Volver
                        </a>
                        <!--end::Add user-->
                        <!--begin::Add user-->
                        <a href="javascript:void(0)" (click)="nuevo()"
                            *ngIf="empezar"
                            class="btn btn-success">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                            <i class="ki-duotone ki-google-play">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                            <!--end::Svg Icon-->
                            Empezar
                        </a>
                        <!--end::Add user-->
                    </div>
                    <!--end::Toolbar-->
                </div>

            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="!empezar">

    <div class="row mt-3 ">

        <div class="col-md-12 col-sm-6 me-5">
            <select name="num_preguntas" id="num_preguntas"
                class="form-control" [(ngModel)]="numpre">
                <option value="5">5 Preguntas</option>
                <option value="10">10 Preguntas</option>
                <option value="15">15 Preguntas</option>
                <option value="20">20 Preguntas</option>
            </select>
        </div>

    </div>

    <div class="row mt-3 justify-content-center">
        <div class="col-md-2 col-sm-6 me-5" *ngFor="let materia of materias">
            <div class="card shadow-sm card-xl-stretch mb-xl-8">
                <a (click)="btnEmpezar(materia.id)" href="javascript:void(0)">

                    <img
                        [src]="materia.imagen | imagen:materia.id.toString() :'materias' "
                        class="img-fluid" [alt]="materia.test_name">
                    <div
                        class="card-footer d-flex align-items-center justify-content-between"
                        [ngStyle]="{'background-color': coloresTarjetas[materia.id.toString()], 'border-radius': '0 0 .625rem .625rem','padding': '10px'}">
                    </div>
                </a>
            </div>
        </div>
    </div>

</ng-container>

<ng-container *ngIf="getCurrentPregunta() !== null">
    <div class="row mt-2">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="progress" role="progressbar"
                    aria-label="Animated striped example"
                    [attr.ariaValuenow]="progreso1" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100">
                    <div
                        class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                        [style.width]="progreso1 + '%'">
                        <span class="text-gray-900 fs-7 fw-bold">
                            {{ progreso1 }} %
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="row mt-2">
            <div class="col-12">
                <!--begin::Feeds Widget 1-->
                <div class="card mb-1 mb-xl-1 shadow-sm">
                    <!--begin::Body-->
                    <div class="card-body pb-0">
                        <div class="score d-flex align-items-center">
                            <span class="text-gray-900 fs-3 fw-bold">
                                <span class="text-info">
                                    Pregunta {{
                                    preguntaActual + 1 }} de {{
                                    preguntas.length }}
                                </span>
                            </span>
                        </div>
                        <!--begin::Header-->
                        <div class="d-flex align-items-center mb-1">
                            <!--begin::User-->
                            <div class="d-flex align-items-center flex-grow-1">
                                <!--begin::Info-->
                                <div class="d-flex flex-column"
                                    style="text-align: justify">
                                    <p
                                        class="text-gray-900 text-hover-primary fs-5 fw-bold">
                                        {{
                                        preguntaActual + 1 }}.
                                        {{preguntas[preguntaActual].que_desc}}</p>
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::User-->
                        </div>
                        <div class="d-flex justify-content-center mb-3">
                            <img
                                *ngIf="preguntas[preguntaActual].img_preg"
                                [src]="preguntas[preguntaActual].img_preg| pregunta:preguntas[preguntaActual].id.toString() :materia_id "
                                class="img-fluid mb-2"
                                [style.width]="'450px'">
                        </div>

                        <div class="d-flex align-items-center mt-2 mb-1"
                            *ngIf="preguntas[preguntaActual].que_desc2">
                            <!--begin::User-->
                            <div class="d-flex align-items-center flex-grow-1">
                                <!--begin::Info-->
                                <div class="d-flex flex-column"
                                    style="text-align: justify">
                                    <p
                                        class="text-gray-900 text-hover-primary fs-5 fw-bold">{{
                                        preguntas[preguntaActual].que_desc2
                                        }}</p>
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::User-->
                        </div>

                        <div class="d-flex align-items-center mb-1"
                            *ngIf="preguntas[preguntaActual].que_desc3">
                            <!--begin::User-->
                            <div class="d-flex align-items-center flex-grow-1">
                                <!--begin::Info-->
                                <div class="d-flex flex-column"
                                    style="text-align: justify">
                                    <p
                                        class="text-gray-900 text-hover-primary fs-5 fw-bold">{{
                                        preguntas[preguntaActual].que_desc3
                                        }}</p>
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::User-->
                        </div>
                        <!--end::Header-->
                        <div class="separator"></div>

                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Feeds Widget 1-->

            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-12">
                <!--begin::Tabs-->
                <div class="nav flex-column">

                    <div class="card mb-1 mb-xl-8 shadow-sm">
                        <div class="card-body pb-0">

                            <!--begin::Tab link-->
                            <label
                                class="nav-link btn btn-outline btn-outline-dashed btn-color-dark btn-active-primary d-flex flex-stack text-start p-6 mb-6"
                                data-bs-toggle="tab"
                                [ngClass]="{
                                    'btn-success': isActive('respuesta_ans1_' + preguntaActual) && respCorreptas[preguntaActual] === 1,
                                    'btn-danger': isActive('respuesta_ans1_' + preguntaActual) && respCorreptas[preguntaActual] === 0,
                                    '': !respuestaSeleccionada[preguntaActual] || respuestaSeleccionada[preguntaActual] !== 'respuesta_ans1_' + preguntaActual
                                }">
                                <!--end::Description-->
                                <div class="d-flex align-items-center me-2">
                                    <!--begin::Radio-->
                                    <div
                                        class="form-check form-check-custom form-check-solid form-check-success flex-shrink-0 me-6">
                                        <input class="form-check-input"
                                            type="radio"
                                            [name]="'respuesta_' + preguntaActual"
                                            [value]="'respuesta_ans1_' + preguntaActual"
                                            [(ngModel)]="respuestaSeleccionada[preguntaActual]"
                                            (click)="toggleActive('respuesta_ans1_' + preguntaActual, preguntaActual,'ans1')"
                                            [checked]="respuestaSeleccionada[preguntaActual] === 'respuesta_ans1_' + preguntaActual" />
                                    </div>
                                    <!--end::Radio-->
                                    <!--begin::Info-->
                                    <div class="flex-grow-1">
                                        <div
                                            class="d-flex align-items-center fs-6 flex-wrap">
                                            {{
                                            preguntas[preguntaActual].ans1
                                            }}</div>

                                    </div>
                                    <!--end::Info-->

                                    <div
                                        class="d-flex justify-content-center mb-3"
                                        *ngIf="preguntas[preguntaActual].ban_imgr1 == 1">
                                        <img
                                            *ngIf="preguntas[preguntaActual].imgr1"
                                            [src]="preguntas[preguntaActual].imgr1| pregunta:preguntas[preguntaActual].id.toString() :materia_id "
                                            class="img-fluid mb-2"
                                            [style.width]="'400px'">
                                    </div>
                                </div>
                                <!--end::Description-->

                            </label>
                            <!--end::Tab link-->
                        </div>
                    </div>

                </div>
                <!--end::Tabs-->
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-12">
                <!--begin::Tabs-->
                <div class="nav flex-column">

                    <div class="card mb-1 mb-xl-8 shadow-sm">
                        <div class="card-body pb-0">
                            <!--begin::Tab link-->
                            <label
                                class="nav-link btn btn-outline btn-outline-dashed btn-color-dark btn-active-primary d-flex flex-stack text-start p-6 mb-6"
                                data-bs-toggle="tab"
                                [ngClass]="{
                                    'btn-success': isActive('respuesta_ans2_' + preguntaActual) && respCorreptas[preguntaActual] === 1,
                                    'btn-danger': isActive('respuesta_ans2_' + preguntaActual) && respCorreptas[preguntaActual] === 0,
                                    '': !respuestaSeleccionada[preguntaActual] || respuestaSeleccionada[preguntaActual] !== 'respuesta_ans2_' + preguntaActual
                                }">
                                <!--end::Description-->
                                <div class="d-flex align-items-center me-2">
                                    <!--begin::Radio-->
                                    <div
                                        class="form-check form-check-custom form-check-solid form-check-success flex-shrink-0 me-6">
                                        <input class="form-check-input"
                                            type="radio"
                                            [name]="'respuesta_' + preguntaActual"
                                            [value]="'respuesta_ans2_' + preguntaActual"
                                            [(ngModel)]="respuestaSeleccionada[preguntaActual]"
                                            (click)="toggleActive('respuesta_ans2_' + preguntaActual, preguntaActual,'ans2')"
                                            [checked]="respuestaSeleccionada[preguntaActual] === 'respuesta_ans2_' + preguntaActual" />
                                    </div>
                                    <!--end::Radio-->
                                    <!--begin::Info-->
                                    <div class="flex-grow-1">
                                        <div
                                            class="d-flex align-items-center fs-6 flex-wrap">{{
                                            preguntas[preguntaActual].ans2
                                            }}</div>

                                    </div>
                                    <!--end::Info-->

                                    <div
                                        class="d-flex justify-content-center mb-3"
                                        *ngIf="preguntas[preguntaActual].ban_imgr2 == 1">
                                        <img
                                            *ngIf="preguntas[preguntaActual].imgr2"
                                            [src]="preguntas[preguntaActual].imgr2| pregunta:preguntas[preguntaActual].id.toString() :materia_id "
                                            class="img-fluid mb-2"
                                            [style.width]="'400px'">
                                    </div>
                                </div>
                                <!--end::Description-->

                            </label>
                            <!--end::Tab link-->
                        </div>
                    </div>

                </div>
                <!--end::Tabs-->
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-12">
                <!--begin::Tabs-->
                <div class="nav flex-column">

                    <div class="card mb-1 mb-xl-8 shadow-sm">
                        <div class="card-body pb-0">
                            <!--begin::Tab link-->
                            <label
                                class="nav-link btn btn-outline btn-outline-dashed btn-color-dark btn-active-primary d-flex flex-stack text-start p-6 mb-6"
                                data-bs-toggle="tab"
                                [ngClass]="{
                                    'btn-success': isActive('respuesta_ans3_' + preguntaActual) && respCorreptas[preguntaActual] === 1,
                                    'btn-danger': isActive('respuesta_ans3_' + preguntaActual) && respCorreptas[preguntaActual] === 0,
                                    '': !respuestaSeleccionada[preguntaActual] || respuestaSeleccionada[preguntaActual] !== 'respuesta_ans3_' + preguntaActual
                                }">
                                <!--end::Description-->
                                <div class="d-flex align-items-center me-2">
                                    <!--begin::Radio-->
                                    <div
                                        class="form-check form-check-custom form-check-solid form-check-success flex-shrink-0 me-6">
                                        <input class="form-check-input"
                                            type="radio"
                                            [name]="'respuesta_' + preguntaActual"
                                            [value]="'respuesta_ans3_' + preguntaActual"
                                            [(ngModel)]="respuestaSeleccionada[preguntaActual]"
                                            (click)="toggleActive('respuesta_ans3_' + preguntaActual, preguntaActual,'ans3')"
                                            [checked]="respuestaSeleccionada[preguntaActual] === 'respuesta_ans3_' + preguntaActual" />
                                    </div>
                                    <!--end::Radio-->
                                    <!--begin::Info-->
                                    <div class="flex-grow-1">
                                        <div
                                            class="d-flex align-items-center fs-6 flex-wrap">{{
                                            preguntas[preguntaActual].ans3
                                            }}</div>

                                    </div>
                                    <!--end::Info-->

                                    <div
                                        class="d-flex justify-content-center mb-3"
                                        *ngIf="preguntas[preguntaActual].ban_imgr3 == 1">
                                        <img
                                            *ngIf="preguntas[preguntaActual].imgr3"
                                            [src]="preguntas[preguntaActual].imgr3| pregunta:preguntas[preguntaActual].id.toString() :materia_id "
                                            class="img-fluid mb-2"
                                            [style.width]="'400px'">
                                    </div>
                                </div>
                                <!--end::Description-->

                            </label>
                            <!--end::Tab link-->
                        </div>
                    </div>

                </div>
                <!--end::Tabs-->
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-12">
                <!--begin::Tabs-->
                <div class="nav flex-column">

                    <div class="card mb-1 mb-xl-8 shadow-sm">
                        <div class="card-body pb-0">
                            <!--begin::Tab link-->
                            <label
                                class="nav-link btn btn-outline btn-outline-dashed btn-color-dark btn-active-primary d-flex flex-stack text-start p-6 mb-6"
                                data-bs-toggle="tab"
                                [ngClass]="{
                                    'btn-success': isActive('respuesta_ans4_' + preguntaActual) && respCorreptas[preguntaActual] === 1,
                                    'btn-danger': isActive('respuesta_ans4_' + preguntaActual) && respCorreptas[preguntaActual] === 0,
                                    '': !respuestaSeleccionada[preguntaActual] || respuestaSeleccionada[preguntaActual] !== 'respuesta_ans4_' + preguntaActual
                                }">
                                <!--end::Description-->
                                <div class="d-flex align-items-center me-2">
                                    <!--begin::Radio-->
                                    <div
                                        class="form-check form-check-custom form-check-solid form-check-success flex-shrink-0 me-6">
                                        <input class="form-check-input"
                                            type="radio"
                                            [name]="'respuesta_' + preguntaActual"
                                            [value]="'respuesta_ans4_' + preguntaActual"
                                            [(ngModel)]="respuestaSeleccionada[preguntaActual]"
                                            (click)="toggleActive('respuesta_ans4_' + preguntaActual, preguntaActual,'ans4')"
                                            [checked]="respuestaSeleccionada[preguntaActual] === 'respuesta_ans4_' + preguntaActual" />
                                    </div>
                                    <!--end::Radio-->
                                    <!--begin::Info-->
                                    <div class="flex-grow-1">
                                        <div
                                            class="d-flex align-items-center fs-6 flex-wrap">{{
                                            preguntas[preguntaActual].ans4
                                            }}</div>

                                    </div>
                                    <!--end::Info-->

                                    <div
                                        class="d-flex justify-content-center mb-3"
                                        *ngIf="preguntas[preguntaActual].ban_imgr4 == 1">
                                        <img
                                            *ngIf="preguntas[preguntaActual].imgr4"
                                            [src]="preguntas[preguntaActual].imgr4| pregunta:preguntas[preguntaActual].id.toString() :materia_id "
                                            class="img-fluid mb-2"
                                            [style.width]="'400px'">
                                    </div>
                                </div>
                                <!--end::Description-->

                            </label>
                            <!--end::Tab link-->
                        </div>
                    </div>

                </div>
                <!--end::Tabs-->
            </div>
        </div>
    </section>

</ng-container>

<ng-container *ngIf="isQuizCompleto">
    <div class="row mt-2">
        <div class="col-12">
            <!--begin::Feeds Widget 1-->
            <div class="card mb-1 mb-xl-1 shadow-sm">
                <!--begin::Body-->
                <div class="card-body pb-0">
                    <!--begin::Heading-->
                    <div class="mb-1 text-center">
                        <!--begin::Title-->
                        <h1 class="mb-1">Resultado Final</h1>
                        <h2 class="mb-1 fs-2 fw-bold"
                            *ngIf="materia !='' ">Area: <span
                                class="text-info">{{ materia
                                }}</span></h2>
                        <h3 class="mb-1">Total Preguntas: {{ numpre }}</h3>
                        <h3 class="mb-1 text-success">Respuestas Correctas: {{
                            suma }}</h3>
                        <h3 class="mb-1 text-danger">Respuestas Incorrectas: {{
                            numpre - suma
                            }}</h3>
                        <!--end::Title-->
                    </div>
                    <!--end::Heading-->

                    <div class="separator"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <!--begin::Product table-->
                            <div class="table-responsive">
                                <!--begin::Table-->
                                <table
                                    class="table align-middle table-row-dashed fs-6 gy-4 mb-0">
                                    <!--begin::Table head-->
                                    <thead>

                                        <!--begin::Table row-->
                                        <tr
                                            class="border-bottom border-gray-200 text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                                            <th class="min-w-100px">#</th>
                                            <th
                                                class="min-w-150px">Pregunta</th>
                                            <th
                                                class="min-w-125px">Respuesta</th>
                                            <th
                                                class="min-w-125px">Correcta</th>
                                            <th class="min-w-125px">Estado</th>
                                        </tr>
                                        <!--end::Table row-->
                                    </thead>
                                    <!--end::Table head-->
                                    <!--begin::Table body-->
                                    <tbody class="fw-semibold text-gray-800"
                                        *ngFor="let pre of preguntas; let i = index">
                                        <tr>
                                            <td>
                                                <label class="w-100px">{{
                                                    (i + 1) }}</label>
                                            </td>
                                            <td>
                                                <span
                                                    style="text-align: justify;"
                                                    class="w-100px">{{
                                                    pre.que_desc
                                                    }}</span>
                                            </td>
                                            <td>
                                                <span
                                                    style="text-align: justify;"
                                                    class="w-100px">{{
                                                    preguntaSel(respuestaSeleccionada[i],
                                                    i)
                                                    }}</span>
                                            </td>
                                            <td>
                                                <span
                                                    style="text-align: justify;"
                                                    class="w-100px">{{
                                                    preguntaCor(pre.true_ans,i)
                                                    }}</span>
                                            </td>
                                            <td>
                                                <span
                                                    *ngIf="condicion(respuestaSeleccionada[i],pre.true_ans,i)"><i
                                                        class="fa-solid fa-check text-success fs-4x"></i></span>
                                                <span
                                                    *ngIf="!condicion(respuestaSeleccionada[i],pre.true_ans,i)"><i
                                                        class="fa-solid fa-xmark text-danger fs-4x"></i></span>
                                                <!-- <div
                                                    [style.background-color]="condicion(respuestaSeleccionada[i],pre.true_ans,i) ? 'red' : 'green'"
                                                    >hola</div> -->

                                            </td>
                                        </tr>
                                    </tbody>
                                    <!--end::Table body-->
                                </table>
                                <!--end::Table-->
                            </div>
                            <!--end::Product table-->
                        </div>
                    </div>

                </div>
                <!--end::Body-->
            </div>
            <!--end::Feeds Widget 1-->

        </div>
    </div>
</ng-container>
